
table {
  

  
   width: 100%; 
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #737070; 
  margin-bottom: 20px;
}


th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 2px solid #464141; 
}

/* Table row styling */
td {
  padding: 8px;
  border: 1px solid #948e8e;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


tr:hover {
  background-color: #71f046;
}

button {
  padding: 6px 10px;
  cursor: pointer;
  border: none;
  margin-right: 80px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}
